<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.arquitectura.triviapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/trivia"
        android:label="@string/app_name"
        android:roundIcon="@drawable/trivia"
        android:supportsRtl="true"
        android:theme="@style/Theme.Utri"
        tools:targetApi="31">
        <activity
            android:name="com.arquitectura.triviapp.Vista.HistorialActivity"
            android:exported="false" />
        <activity
            android:name="com.arquitectura.triviapp.Vista.ResultadoActivity"
            android:exported="false" />
        <activity
            android:name="com.arquitectura.triviapp.Vista.InicioActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.arquitectura.triviapp.Vista.PreguntaActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.arquitectura.triviapp.Vista.CategoriaActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.arquitectura.triviapp.Vista.ReglasActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.arquitectura.triviapp.Vista.EditarContraActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.arquitectura.triviapp.Vista.MenuActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.arquitectura.triviapp.Vista.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
    </application>

</manifest>